*{
    margin: 0;
    padding: 0;
}

body{
    font-family: OpenSans-Regular;  
    background: #1C2427;
}

header.inicio{
    width: 65%;
    margin: 0 auto;
    background: #fff;
    margin-top: 50px;
}


nav{
    width: 65%;
    position: absolute;
    background: #1C2427;;
    margin: 0 auto;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;  
}

nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    padding: 15px 5px;
    display: inline-block;  
    
}

nav ul li a:hover{
    background: #585858;
}

a:focus, a:focus * { 
    outline: none !important; 
}



p{
    margin: 5px;
}

p.p-centro{
    text-align: center;
}

p.p-izquierda{
    text-align: left;
}
p.p-derecha{
    text-align: right;
}
p.subencabezado{
    text-align:right;
}


h1{
    font-size:80px;
    margin-top: 15px;
    padding: 30px;
    text-align: center;
    font-family:"TheTravelista - Demo";
    color:  #1C2427;
}
h2{
    text-align: left;
    font-size: 30px;
    color: #1C2427;
    border-block-end-style:solid;
    border-block-end-color: #EBEBEB;;
    border-block-end-width: 5px; 
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: LibreBaskerville-Regular;
}

.h2-tit{
    text-align: left;
    font-size: 45px;
    color: #1C2427;
    border-block-end-style:solid;
    border-block-end-color: #EBEBEB;;
    border-block-end-width: 5px; 
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: LibreBaskerville-Regular;
}
.subtitulos{
    color: #1C2427;
    border-block-end-style:solid;
    border-block-end-color: #EBEBEB;;
    border-block-end-width: 5px; 
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: LibreBaskerville-Regular;
}
.footer-copy-redes{
    width: 100%;
    background:#1C2427;
    border-top: 3px solid #fff;
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}
.main-copy-redes .footer-autor{
    width: 70%;
    color: #fff;
    text-align: center;  
}

.main-copy-redes .footer-redes{
    width: 30%;
    flex-wrap: wrap;
}





main{
    width: 65%;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 100px;;
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
    background: #fff;
   
}

#disqus_thread{
    width: 80%;
    margin: 0 auto;
    /* background: #EBEBEB; */
    padding: 20px;
}


.bibliografia-citas{
   margin: 25px;
}

article{
    margin: 20px 60px;
    padding-top: 100px;
}

.columna{
    border-width: 2px;
    width: 20%;
    float: left;;
    margin: 30px;
    margin-top: 70px;
    background:  #EBEBEB;
    font-size: 15px;
    text-align: center;
    border-color: #fff;
    border-style: solid;
    border-width: 20px;
   
}

.glosario{
    margin: 0 60px;
    padding: 20px;;padding: 20px;;
    border-bottom: 20;
    overflow: hidden;
}
.opinion{
    margin: 0 60px;
    
}
.opinion p{
    font-size: 16px;
    padding: 20px;
    background: #EBEBEB;
}

#img_biografia {
    width: 70%;
    margin: 20px auto;
    display: block;
    border-radius: 2%;
}


.img_derecha{
    float: right;
    width: 50%;
    margin: 30px;
}


.img_izquierda{
    float: left;
    width: 50%;
    margin: 30px;
}



.contenido-biografia{
    background: #1C2427;
    color: #fff;
}


.biblio-citas{
    padding-bottom: 20px;
}


.biblio-citas ul{
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.biblio-citas ul li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out; 
}




.biblio-citas li:before{
    content:url(/iconos/ic_frase.png);
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
}



.glosario ul{
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.glosario ul li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}


#obra-legado ul li{
    
    /* position: relative; */
    /* display: block; */
    list-style-type: unset;
    padding: .01em .1em .1em .1em;
    *padding: .1em;
    margin: .1em 0 .1em 1.5em;
}

.glosario-colum-izq{
    float: left;
    width: 45%;
 
}

.glosario-colum-der{
    float: right;
    width: 45%;
  
}

article a{
    /* text-decoration: none ; */
    color: #585858;
}
article table {
    width: 20%;
    margin: auto auto;
    display: block;
    text-align: center;
}

article table tbody tr th{
    padding: 10px;
    margin: 5px;
} 
