@font-face{
    font-family: LibreBaskerville-Regular;
    src:url(/fuentes/LibreBaskerville-Regular.ttf);
}

@font-face{
    font-family: OpenSans-Regular;
    src:url(/fuentes/OpenSans-Regular.ttf);
}

@font-face{
    font-family: "TheTravelista - Demo";
    src:url(/fuentes/TheTravelista\ -\ Demo.otf);
}
